spring:
  application:
    name: notificacao
  mail:
    host: smtp.gmail.com
    port: 587
    protocol: smtp
    properties:
      mail:
        smtp:
          socketFacotry:
            port: 465
            class: javax.net.ssl.SSLSocketFactory
            fallback: false
          auth: true
          starttls:
            enable: true
          connectiontimeout: 5000
          timeout: 3000
          writetimeout: 5000
  thymeleaf:
    enable-spring-el-compiler: true

envio:
  email:
    remetente: 'leosmagalha@gmail.com'
    nomeRemetente: 'leogmag'

server:
  port: 8082


